.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /*padding-right: 300px;*/
}

.border {
    border-color: red !important;
}

.image {
    max-height: 300px;
    max-width: 300px;
}

.error {
    color: red;
    font-size: 15px;
}

